
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #c9d6ff;
}

.dashboard {
  margin-top: 12vh; 
  padding: 20px;
}

.search {
  margin-top: 15px;
}

.date{
  display: inline-block;
  background: #c7f8ff;
  border-radius: 0.4rem;
  margin-top: 0px;
  padding: 0.5rem 1.6rem;
  margin-bottom: 1.6rem;
}

.date input[type="date"]{
  background: transparent;

}
.dashboard .insights{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.dashboard .insights > div{
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 1.6rem;
  margin-top: 1 rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition:all 300ms ease;
  width: 100%;
  height: 250px;
}



.dashboard .insights > div:hover{
  box-shadow: none;
}

.dashboard .insights > div span{
  background: rgb(134, 134, 255);
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  font-size: 2 rem;
}
  
.dashboard .insights > div.adopted-dogs span{
  background-color: rgb(134, 200, 255);
}

.dashboard .insights > div .middle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard .insights h3{
  margin: 1rem 0 0.6rem ;
  font-size: 1rem;
}

.dashboard .insights .progress{
  position:relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}


.dashboard .insights svg{
  width: 7rem;
  height: 7rem; 
}

.dashboard .insights svg circle{
  fill: none;
  stroke: rgb(134, 200, 255);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dashoffset: 92;
  stroke-dasharray: 110;
}

.dashboard .insights .adopted-dogs svg circle{
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

.dashboard .insights .progress .number{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(134, 200, 255);
}

.dashboard .insights .small{
  margin-top: 1.3rem;
  display: block;
}

.dashboard .recent-transaction{
  margin-top: 2rem;
}

.dashboard .recent-transaction h2{
  margin-bottom: 0.8rem;
}

.dashboard .recent-transaction table{
  background: white;
  width: 100%;
  border-radius: 5%;
  padding: 1.6rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease;
}

.dashboard .recent-transaction table:hover{
  box-shadow: none;
}

.dashboard table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid #898080;
  color: #4a4a4a;
}

.dashboard table tbody tr:last-child td{
  border: none;

}

.dashboard .recent-transaction a{
  text-align: center;
  display: block;
  margin: 1rem auto;
}