@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c9d6ff;
}

.container {
    position: relative;
    width: 900px;
    height: 630px;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background-color: #6b7db3; /* Darker shade of blue */
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 5px solid #4a5a80; /* Even darker shade of blue */
    transition: all 0.3s ease;
}

.container::-webkit-scrollbar {
    display: none;
}

.container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container:hover {
    transform: scale(1.02);
    border-color: #4a5a80; /* Darker shade of blue */
}

.whydonate-section .header{
    font-size: 30px;
    text-align: center;
    color: #eef2ff; /* Very light shade of blue */
    font-weight: 600;
    cursor: pointer;
}

.whydonate-content {
    font-size: 17px;
    color: #eef2ff;
}   

.whydonate-content li{
    font-size: 17px;
    color: #eef2ff;
}

.donate-section{
    position: absolute;
    left: 50%;
    bottom: -88%;
    transform: translateX(-50%);
    width: calc(100% + 180px);
    padding: 20px 140px;
    background: #fff;
    border-radius: 290px;
    height: 100%;
    transition: all 0.6s ease;  
}


.donate-section .header{
    font-size: 30px;
    text-align: center;
    color: #6c7ce2;
    font-weight: 600;
    cursor: pointer;
}

.donate-section.button{
    background: #303f9f;
    color: #fff;
    border: none;
}

.container.active .donate-section{
    bottom: -12%;
    border-radius: 220px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.donation-amounts header,
.payment-methods header{
    font-size: 15px;
    text-align: center;
    color: #879498;
    font-weight: 600;
    cursor: pointer;
}


.payment-methods {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payment-methods label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.payment-methods input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}

.payment-methods input[type="radio"]:checked {
    background: #303f9f;
    color: #fff;
}


button {
    padding: 10px 20px;
    border: none;
    background-color: #303f9f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

button:hover {
    background-color: #4051b5;
}

button:active {
    background-color: #202a6f;
}

button:focus {
    outline: none;
}

.payment-methods .btn {
    margin-top: 20px;
    width: 100%;
}